<!-- user-profile.ejs -->
<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="navc">
    <!-- Navigation bar code here -->
</div>

<div class="main w-full h-screen pt-1">
    <div class="fmcnt">
        <!-- Form for uploading profile picture (if needed) -->
    </div>

    <% users.forEach(user => { %> <!-- Iterate over users -->
        <div class="per-cnt w-full h-64 mt-16 relative">
            <!-- User profile picture and edit icon -->
            <div class="dpcnt relative">
                <div class="img-cnt w-32 h-32 bg-gray-400 rounded-full mx-auto overflow-hidden">
                    <img src="./images/uploads/<%= user.dp %>" alt="profile" class="w-full h-full object-cover">
                </div>
            </div>

            <!-- User information -->
            <div class="name-cnt text-center mt-2">
                <h1 class="text-xl font-semibold text-zinc-800 "><%= user.fullname %></h1>
                <h3 class="text-xs text-zinc-500 ">@<%= user.username %></h3>
                <!-- Add number of followers or other relevant information here -->
            </div>
        </div>
    <% }); %>

    
<%- include('partials/footer') %>

